Binaries
DerivedDataCache
Intermediate
Saved
GitVersions
/Content/Maps/DemoMap_Test.umap
/Content/Maps/DemoMap_Test_BuiltData.uasset
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

Content/Maps/DemoMap_BuiltData.uasset
